# generate by wireguard-server
# to see "cat config/peer_yourpeername/peer_yourpeername.conf"
[Interface]
Address = 10.102.0.2
PrivateKey = <private-key>
ListenPort = 51820
DNS = 10.102.0.1

[Peer]
PublicKey = <public-key>
Endpoint = wireguard-server:51820
AllowedIPs = 10.100.0.0/16, 10.101.0.0/16, 10.102.0.0/16